%nav.navbar.navbar-default{role: 'navigation'}
  .container-fluid.wrap-90
    .navbar-header
      %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar-collapsable'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: '/'}
        %img.pix{src: '/img/logo/virtkick-logo-pixelart-48.png'}
        %img.virt-name{src: '/img/virtkick-name-white.png'}
    .collapse.navbar-collapse{id: 'navbar-collapsable'}
      %ul.nav.navbar-nav.navbar-right{id: 'menu'}
        = partial 'layouts/nav_items', locals: {header: true}