<% if header %>
  <a href="https://twitter.com/virtkick" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false" data-dnt="true"></a>
<% else %>
  <a href="https://twitter.com/virtkick">
    Twitter&nbsp;
    <i class="fa-twitter fa fa-lg"></i>
  </a>
<% end %>
