@import 'bootstrap-customize';

@mixin gradient {
  background: linear-gradient(#53172d, #b9233d);

  &, *:not(input) {
    color: #ffffff;
  }
}

@mixin newsletter($input-height, $text-height) {
  form {
    input {
      font-size: $text-height;
      text-align: center;
      height: $input-height;
      margin-left: 4px;
      margin-right: 4px;
    }

    .btn {
      height: $input-height;
      padding: 10px (2.5 * $text-height);
    }
  }

  @media(min-width: $screen-sm) {
    .newsletter-email {
      width: 280px;
    }
  }

  .result {
    margin-top: 15px;
    color: $text-cooldown;
  }
}

@mixin placeholder-color($color) {
  ::-webkit-input-placeholder {
    color: $color;
  }
  :-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $color;
  }
}

@mixin animation($animation-name, $duration, $transition) {
  -webkit-animation: $animation-name $duration $transition;
  -moz-animation: $animation-name $duration $transition;
  -ms-animation: $animation-name $duration $transition;
  -o-animation: $animation-name $duration $transition;
  animation: $animation-name $duration $transition;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(fade-in) {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@include keyframes(fade-out) {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@include keyframes(brown-bg) {
    0% { background-color: transparent; }
    50% { background-color: transparent; }
    100% { background-color: $brown-dark; }
}

@include keyframes(transparent-bg) {
    0% { background-color: $brown-dark; }
    50% { background-color: $brown-dark; }
    100% { background-color: transparent; }
}
