@import 'bootstrap-customize';
@import '_mixins';


$become-a-sponsor-top: 40px;

#page-community {
  .contributors {
    .avatar {
      float: left;
      margin-top: 10px;
      margin-right: 5px;
      margin-bottom: 5px;
    }

    header {
      font-size: floor($font-size-base * 1.25);
      span {
        font-weight: normal;
      }
    }
  }

  .gold-sponsor-box {
    a {
      $color: $medium-light;
      border: solid 1px $color;
      color: $color;
    }

    @media(min-width: $screen-sm) {
      a {
        padding-top: $become-a-sponsor-top + 50px;
        height: 220px;
      }
    }
  }

  .silver-sponsor-box {
    a {
      $color: $medium-light;
      border: solid 1px $color;
      color: $color;
    }

    @media(min-width: $screen-sm) {
      a {
        padding-top: $become-a-sponsor-top + 30px;
        height: 180px;
      }
    }
  }
}
