@import 'bootstrap-customize';
@import '_mixins';

#page-features {
  h1 {
    margin-top: 95px;
    font-size: 2.1em;
    text-align: center;
  }

  h3 {
    color: #C7C7C7;
    font-size: 1.5em;
    text-align: center;
    font-weight: 100;
  }

  .gradient {
    @include black-gradient();
  }

  .main-features {
    margin-top: 120px;
    padding-bottom: 120px;

    .list {
      padding-top: 50px;
      padding-bottom: 50px;

      .desc {
        display: inline-block;
        vertical-align: middle;
        color: $people-text;
        margin-top: 20px;
        max-width: 350px;
        padding-top: 50px;
      }

      .left {
        text-align: right;
        padding-right: 55px;

        .desc {
          padding-right: 35px;
        }
      }

      .right {
        text-align: left;
        padding-left: 70px;

        .desc {
          padding-left: 20px;
        }
      }
    }
  }

  .features-wrapper {
    background-color: $black-dark;
    padding-bottom: 135px;

    h1 {
      margin-top: 135px;
      font-size: 2.4em;
      text-align: center;
    }

    .features {
      .list {
        padding-top: 120px;

        .feature {
          margin-bottom: 40px;

          img {
            display: inline-block;
          }
          p {
            margin-left: 40px;
            display: inline-block;
            font-size: 1.05em;
          }
        }
      }
    }
  }

  .try-it-now-wrapper {
    .try-it-now {
      position: relative;
      background-color: $pink;
      text-align: center;
      width: 100%;
      margin: 0;
      z-index: 2;
      padding-bottom: 140px;
      background: $pink; 
      background: -moz-radial-gradient(center, ellipse cover,  $pink 0%, $pink-grad-dark 100%); 
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$pink), color-stop(100%,$pink-grad-dark)); 
      background: -webkit-radial-gradient(center, ellipse cover,  $pink 0%,$pink-grad-dark 100%);
      background: -o-radial-gradient(center, ellipse cover,  $pink 0%,$pink-grad-dark 100%); 
      background: -ms-radial-gradient(center, ellipse cover,  $pink 0%,$pink-grad-dark 100%); 
      background: radial-gradient(ellipse at center,  $pink 0%,$pink-grad-dark 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='$pink-grad-dark',GradientType=1 ); 

      h1 {
        margin-top: 95px;
        font-size: 2.4em;
        text-align: center;
      }

      .perforation .circle {
        background-color: #C43C53;
      }

      .wrapper {
        display: inline-block;
        margin: 0 auto;

        .cta {
          margin-top: 80px;
          
          .btn {
            margin: 6px;

            &:hover, &:active {
              @include transition(all 0.2s);
              background-color: white;
              color: $pink !important; 
            }
          }
        }
      }
    }
  }

}
