@font-face {
    font-family: 'Open Sans';
    src: url('../font/open-sans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/open-sans-regular-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/open-sans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/open-sans-bold-italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;

}

@import 'font-awesome';
