@import 'bootstrap-customize';
@import '_mixins';


#page-providers {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  .integrations {
    text-align: center;

    article {
      height: 240px;

      .logo-container {
        height: 80px;

        .logo {
          // http://stackoverflow.com/a/16629627/504845
          line-height: 80px;
        }
      }
    }
  }
}
