@import 'bootstrap-customize';
@import '_mixins';

#page-developers {
  #federation {
    margin-bottom: 20px;

    @media(min-width: $screen-md) {
      .developers, .users {
        p {
          text-align: center;
        }

        img {
          margin-top: 20px;
        }
      }

      .developers img {
        float: right;
      }

      .users img {
        float: left;
      }
    }

    .fed {
      width: 100%;
      max-width: 400px;
    }

    .users, .developers {
      text-align: center;
    }
  }
}
