@import 'bootstrap-customize';
@import '_mixins';

#page-developers {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  .content-container {
    h2 {
      margin-top: 80px;
      margin-bottom: 0px;
    }

    h4 {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 80px;
    }
  }

  #federation {
    margin-bottom: 20px;

    @media(min-width: $screen-md) {
      .developers, .users {
        p {
          text-align: center;
        }

        img {
          margin-top: 20px;
        }
      }

      .developers img {
        float: right;
      }

      .users img {
        float: left;
      }
    }

    .fed {
      width: 100%;
      max-width: 400px;
    }

    .users, .developers {
      text-align: center;
    }
  }
}
