@import 'bootstrap-customize';
@import '_mixins';

#page-index {

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  .cosmic {
    position: relative;
    color: white;
    background-color: $black-dark;
    background-image: url('/img/cosmic-bg.png');

    h1 {
      color: white;
      font-size: 3.3em !important;
      font-weight: 300;
    }

    h2 {
      color: white;
      font-size: 2.4em !important;
      font-weight: 100;
    }

    .header {
      text-align: center;
      padding-top: 180px;
      padding-bottom: 330px;

      .cta {
        .btn {
          border-radius: 50px;
          font-weight: bold;
          padding: 35px 70px;
          margin: 6px;
        }
      }
    }
  }

  .screenshots {
    background-color: $pink;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
  }

  .features {
    color: white;
    background-color: $black-medium;

    article {
      text-align: center;

      .logo-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 167px;

        .logo {
          width: 167px;
          height: auto;
          margin: 0 auto;
          vertical-align: middle;
          display: table-cell;
          border-radius: 5px;
        }
      }

      p {
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        width: 60%;
      }
    }
  }

  .newsletter {
    padding-top: 300px;
    padding-bottom: 300px;
    color: white;
    background-color: $black-dark;
    background-image: url('/img/lines-bg.png');
    background-repeat: no-repeat;
  }
}