@import 'bootstrap-customize';
@import '_mixins';

#page-index {
  .screenshots {
    background-color: #F5606B;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;

    @media(min-width: $screen-md) {
      padding-top: 100px;
      padding-bottom: 100px;


      img {
        margin-left: 30px;
        margin-right: 30px;
      }
    }

    @media(max-width: $screen-sm-max) {
      img {
        max-width: 90%;
        padding: 0;
        margin: 0;
      }
    }
  }

  .packages {
    article {
      height: 240px;

      .logo-container {
        img {
          height: 138px;
        }
      }
    }
  }


  .integrations {
    article {
      text-align: center;
      height: 320px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
