@import 'bootstrap-customize';
@import '_mixins';

#page-index {
  .kickstarter-window {
    @media(min-width: $screen-sm) {
      margin-top: -35px;

      width: 700px;

      margin-left: auto;
      margin-right: auto;

      border-radius: 20px;
      box-shadow: 0px 0px 40px 0px rgba(234,234,234,1);
      background-color: rgba(255, 255, 255, 0.25);

      .content {
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 30px;
      }
    }

    @media(max-width: $screen-sm-max) {
      .controls {
        display: none;
      }
    }

    .logos {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;

      img + img {
        margin-left: 12px;
      }

      .kickstarter {
        width: 200px;
        padding-top: 15px;
      }

      .gradient-border {
        // background-image: url('/img/gradient-border.png'); // https://github.com/CodeCharmLtd/http-master/issues/71
        border-right: solid 1px #D8D8D8;
        background-repeat: no-repeat;
        background-position: right top;
        height: 55px;
      }
    }

    .content {
      .progress {
        margin-bottom: 5px;
      }

      .goal {
        margin-bottom: 20px;
      }

      .rewards {
        margin-top: 20px;
      }
    }

    p {
      text-align: center;
    }
  }

  .integrations {
    article {
      text-align: center;
      height: 320px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
