@import 'bootstrap-customize';
@import '_mixins';


footer {
  background-color: #F7F7F7;
}

#page-index {
  .header {
    @include gradient;
    text-align: center;
    min-height: 440px;

    .row {
      // Prevent a horizontal scrollbar.
      margin-left: 0;
      margin-right: 0;
    }

    .moon {
      height: 120px;
      background-image: url('/img/moon.png');
      background-repeat: no-repeat;
      background-position: top center;
    }

    .content {
      background-repeat: no-repeat;
      background-position: left center, right bottom;

      @media(min-width: $screen-lg) {
        background-image: url('/img/paperplane.png'), url('/img/sputnik-small.png');
      }
      @media(min-width: 1660px) {
        background-image: url('/img/paperplane.png'), url('/img/sputnik.png') !important;
      }
    }

    h1 {
      margin-top: 0;
      padding-top: 0;

      @media(max-width: $screen-sm-max) {
        margin-top: 0;
      }
    }

    h2 {
      margin-top: 0;
      font-size: 28px;
      color: #D0334E;
      margin-bottom: 10px;
    }

    h3 {
      margin-top: 0;
      font-size: 18px;
      color: #D0334E;
      font-weight: lighter;
    }

    .video {
      width: 100%;
      text-align: center;
      float: left;

      a {
        color: $text-cooldown;
      }
    }

    .become-a-sponsor {
      padding-top: 20px;
      text-transform: uppercase;

      .logo {
        max-width: 300px;
        margin: 0 auto;

        .box {
          height: 200px;
          background-color: rgba(0, 0, 0, 0.1);
          margin-bottom: 10px;
          font-weight: bold;
          vertical-align: middle;
          padding-top: 75px;
          border-radius: 5px;

          a {
            opacity: 1;
          }
        }

        p {
          font-size: 80%;
        }
      }
    }

    .newsletter {
      margin-top: 55px;
      @include newsletter(50px, 16px);

      .result {
        font-size: 20px;
        color: $text-cooldown;
      }

      .performed {
        color: #ffffff !important;
      }
    }
  }

  .kickstarter-window {
    @media(min-width: $screen-sm) {
      margin-top: -35px;

      width: 700px;

      margin-left: auto;
      margin-right: auto;

      border-radius: 20px;
      box-shadow: 0px 0px 40px 0px rgba(234,234,234,1);
      background-color: rgba(255, 255, 255, 0.25);

      .content {
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 30px;
      }
    }

    @media(max-width: $screen-sm-max) {
      .controls {
        display: none;
      }
    }

    .logos {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;

      img + img {
        margin-left: 12px;
      }

      .kickstarter {
        width: 200px;
        padding-top: 15px;
      }

      .gradient-border {
        // background-image: url('/img/gradient-border.png'); // https://github.com/CodeCharmLtd/http-master/issues/71
        border-right: solid 1px #D8D8D8;
        background-repeat: no-repeat;
        background-position: right top;
        height: 55px;
      }
    }

    .content {
      .progress {
        margin-bottom: 5px;
      }

      .goal {
        margin-bottom: 20px;
      }

      .rewards {
        margin-top: 20px;
      }
    }

    p {
      text-align: center;
    }
  }

  .slogan {
    h2 {
      margin-top: 70px;
      margin-bottom: 0;
    }

    h3 {
      margin-top: 10px;
      margin-bottom: 50px;
      font-weight: 300;
      font-size: 20px;
    }

    h2, h3 {
      line-height: 130%;
      text-align: center;
    }
  }

  .integrations {
    article {
      text-align: center;
      margin-bottom: 80px;
    }
  }

  .features {
    article {
      text-align: center;
      margin-bottom: 80px;
  
      .logo-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 167px;

        .logo {
          width: 167px;
          height: auto;
          margin: 0 auto;
          vertical-align: middle;
          display: table-cell;
          border-radius: 5px;
        }
      }

      p {
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        line-height: 140%;
        width: 80%;
      }
    }
  }

  .sponsors-container {
    background-color: #F7F7F7;
  }
}
