@import 'bootstrap-customize';
@import '_mixins';

#page-pricing {
  h1 {
    margin-top: 1em;
    @media (min-width: $grid-float-breakpoint) {
      margin-top: 95px;
    }
    font-size: 2.1em;
    text-align: center;
  }

  h3 {
    color: #C7C7C7;
    font-size: 1.5em;
    text-align: center;
    font-weight: 100;
  }

  .gradient {
    @include black-gradient();
  }

  .newsletter-section {
    color: white;
    background-color: $black-dark;
    padding-top: 150px;
    padding-bottom: 150px;

    h1 {
      font-size: 1.8em;
      margin-top: 0;
    }

    .newsletter {
      margin: 0 auto;
      text-align: center;

      .form-inline {
        margin-top: 60px;

        input.newsletter-email {
          text-align: center;
          @media(min-width: $screen-sm) {
            min-width: 430px;
          }
          border-radius: 33px;
          height: 66px;
          line-height: 66px;

          color: $black-medium;
        }

        input.btn {
          border-radius: 33px !important;
          padding: 20px 50px;
          margin-left: 15px;
        }
      }
    }
  }

  .wizard {
    padding-top: 120px;
    padding-bottom: 140px;

    .step {
      text-align: center;

      h4 {
        margin-bottom: 40px;
      }

      .icon-wrapper {
        padding: 20px;
        display: inline-block;
        border: 1px solid $pink;
        border-radius: 60px;
        margin-bottom: 40px;

        .fa {
          color: $pink;
          font-size: 2.5em;
          display: block;
          margin: 0 auto;
        }
      }
    }
    
    @media (min-width: 768px) {
      .step {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}
