@import 'bootstrap-customize';
@import 'fonts';
@import '_mixins';

.btn {
  border: 0 !important;
  outline: none !important;

  @include transition(background-color 0.2s);

  &:hover, &:active {
    @include transition(background-color 0.2s);
  }

  &.huge {
    border-radius: 50px;
    padding: 28px 70px;
    font-weight: 400;
    font-size: 1.2em;
  }
}

.btn-primary {
  &:hover, &:active {
    background-color: darken($pink, 5%);
  }
}

.btn-white-border {
  background-color: transparent;
  border: 2px solid white !important;
  color: white !important;

  &.huge {
    border: 3px solid white !important;
  }
}

nav {
  padding-top: 30px;
  margin-bottom: 30px;

  .container-fluid { 
    #menu {
      padding-top: 3px;
    } 

    .navbar-toggle {
      margin-top: 30px;
      border-color: white !important;
      @include transition(all 0.25s);
      
      .icon-bar {
        @include transition(background-color 0.25s);
        background-color: white !important;
      }

      &:hover, &:focus {
        border-color: $pink !important;

        .icon-bar {
          background-color: $pink !important;
        }
      }
    }

    .navbar-brand {
      padding: 0px 0 0 29px;
      margin: 0;

      .virt-name {
        padding-left: 3px;
        padding-top: 22px;
      }
    }

    li {
      padding-top: 10px;

      a {
        padding: 17px 30px !important;

        &.button {
          padding: 0 !important;
          width: 150px;
          height: 60px;
          border: 2px solid white;
          border-radius: 50px;
          box-sizing: border-box;
          margin-left: 5px;
          text-align: center;
          @include transition(all 0.2s);
          line-height: 56px;
          background-color: transparent;
          color: white;

          &:hover, &:active {
            @include transition(all 0.2s);
            background-color: white;
            color: $black-dark; 
          }
        }
      }
    }
  }
}

.wrap-90 {
  width: 90%;

  @media (max-width: $screen-md-min) {
    width: 100%;
  }
}

.perforation {
  margin-top: 13px;
  .circle {
    width: 12px;
    height: 12px;
    margin-left: 3px;
    margin-right: 4px;
    display: inline-block;
    border-radius: 10px;
  }
}

.mac-window {
  position: relative;
  .bar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
    width: 100%;
    background-color: $cream;
    .circles {
      padding-top: 7px;
      padding-left: 20px;
      text-align: left;

      .circle {
        width: 11px;
        height: 11px;
        margin-left: 3px;
        margin-right: 4px;
        display: inline-block;
        border-radius: 10px;
        background-color: white;

        &.red {
          background-color: $red;
        }

        &.yellow {
          background-color: $yellow;
        }

        &.green {
          background-color: $green;
        }
      }
    }  
  }

  .content {
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px;
  }
}

ul.rocket {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  
  li {
    background-image: url('/img/li-rocket.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 28px;
  }
}

.tooltip {
  @include transition(width 1.25s);
  
  .tooltip-arrow {
    border-top-color: white !important;
  }

  .tooltip-inner {
    border-radius: 4px;
    background-color: white;
    font-size: 1.1em;
    padding: 20px;
  }
}

#old-browser {
  text-align: center;
  z-index: 1001;

  div {
    display: inline-block;
    width: 450px;
    padding: 20px;
    color: white;
    background-color: black;
    margin: 0 auto;
  }
}

.clear {
  clear: both;
}

.CoverPop-open .popup-cover.shown {
  display: block;
}

footer {
  padding-top: 30px;
  background-color: $black-medium;

  .footer-nav {
    padding-top: 20px;
    font-size: 14px;
    color: white;

    .logo {
      vertical-align: top;
      display: inline-block;
      padding-right: 20px;

      .virt-name {
        padding-left: 2px;
        padding-top: 15px;
        width: 81px;
      }
    }

    .link-group {
      font-size: 15px;
      text-align: left;
      vertical-align: top;
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;

      a {
        margin-top: 2px;
        display: block;
        color: white;

        .fa {
          padding-right: 7px;
        }
      }

      .main {
        color: white;
        margin-top: 22px;
      }
    }
  }

  .copyright {
    font-size: 14px;
    color: lighten(white, 25%);
    padding: 35px 10px 35px 10px;

    a:hover {
      color: white;
    }

    .trademarks {
      font-size: 12px;
      opacity: 0.5;
    }
  }
}
