---
title: Become a VirtKick Sponsor
---
#page-become-a-sponsor.container
  %h1
    Become a Sponsor

  %p
    Thank you so much for your interest in becoming a sponsor of VirtKick!
  %p
    VirtKick is an open source project that will to push the envelope of virtualization sofware.<br/>
    VirtKick will make its slogan, 1-click cloud management, a reality.
  %p
    But my team needs your help to achieve that!
  %p
    I prepared a few sponsoring packages. I am sure you will find a well-suited offer for your company.<br/>
    Please note our company will issue an invoice for your payment.
  %p
    Let me know if you have any questions or suggestions - I will be happy to answer.

  %p
    Damian Nowak
    %br
    Project Lead
  %p
    %a.btn.btn-primary{href: 'mailto:nowaker@virtkick.io?subject=VirtKick%20sponsoring'}
      Contact me

  .row
    .col-md-4

      %h2.bronze
        Bronze Sponsor $1375

      %p
        We will display the logo of your company forever in a few places.
        <b>Stays forever</b> once added.

      %ul
        %li
          <a href="/community.html">Community</a> page
        %li
          %a{href: 'https://github.com/virtkick/virtkick-webapp'}
            project root on GitHub
          (README.md)
        %li
          %a{href: 'https://github.com/virtkick/virtkick-webapp'}
            BACKERS.md file
        %li
          user documentation


    .col-md-4
      %h2.silver
        Silver Sponsor $3000

      %p
        A clickable company logo in the <b>middle area</b> of the homepage up to December 2016.
        Plus a Permanent Bronze Sponsor.
      %p
        Limit: 4 sponsors only.

    .col-md-4
      %h2.gold
        Gold Sponsor $8200

      %p
        A clickable company logo in the <b>top area</b> of the homepage up to December 2016.
        Plus a Permanent Bronze Sponsor.
      %p
        Limit: 2 sponsors only.

  .row
    .col-md-12
      %h2.gold
        Deployer Sponsor $3900

      %p
        You will be granted a non-copyleft license for the sources (AGPL is the default).<br/>
        We will help you deploy the application in your environment and
        provide hints on how to customize the solution to meet your needs.
