#page-become-a-sponsor.container
  %h1
    Become a Sponsor

  %p
    Thank you so much for your interest in becoming a sponsor of VirtKick!
  %p
    VirtKick is an open source project that will to push the envelope of virtualization sofware.<br/>
    VirtKick will make its slogan, 1-click cloud management, a reality.
  %p
    I will quit my current job to make VirtKick happen. That's why I need your money.
  %p
    I prepared a few sponsoring packages. I hope you will find a well-suited offer for your company.<br/>
    Please note my company will issue an invoice for your payment.
  %p
    Let me know if you have any questions or suggestions - I will be happy to answer.

  %p
    Signed,
    %br
    Damian Nowak
  %p
    %a.btn.btn-primary{href: 'mailto:nowaker@virtkick.io?subject=VirtKick+sponsoring'}
      Contact me

  .row
    .col-md-4

      %h2.bronze
        Bronze Sponsor $1350

      %p
        We will display the logo of your company forever in a few places.
        <b>Stays forever</b> once added.

      %ul
        %li
          <a href="/community.html">Community</a> page
        %li
          %a{href: 'https://github.com/virtkick/virtkick-webapp'}
            project root on GitHub
          (README.md)
        %li
          %a{href: 'https://github.com/virtkick/virtkick-webapp'}
            BACKERS.md file
        %li
          user documentation


    .col-md-4
      %h2.silver
        Silver Sponsor $3000

      %p
        A clickable company logo in the <b>middle area</b> of the homepage up to December 2016.
        Plus a Permanent Bronze Sponsor.
      %p
        Limit: 4 sponsors only.

    .col-md-4
      %h2.gold
        Gold Sponsor $8200

      %p
        A clickable company logo in the <b>top area</b> of the homepage up to December 2016.
        Plus a Permanent Bronze Sponsor.
      %p
        Limit: 2 sponsors only.

  .row
    .col-md-12
      %h2.gold
        BSD Sponsor $3900

      %p
        You will be granted a BSD license for the sources (AGPL is the default).<br/>
        I will help you deploy the application in your environment and
        provide hints on how to customize the solution to meet your needs.

  %h1.about-me
    About me

  %p
    My name is Damian Nowak, I live in Poland. I have been a programmer for 5 years,
    3 years of which I have been working in hosting-related business. Both from a small business
    perspective (<a href="https://www.atlashost.eu/">AtlasHost</a>, my small business)
    and a big business (<a href="https://www.zerigo.com/">Zerigo</a>, a cloud hosting provider).
    I know the virtualization from inside-out so I am the right person to make VirtKick happen.
    I am able to rise the challenge of developing a VPS administration panel
    that will offer a decent experience to users, customers and administrators.
  %p
    I have been programming in Ruby for 3 years. I used to code in Java for 5 years.
    Besides Ruby, I also code some Node.js and Python from time to time.
    I used to write some PHP before 2007.
    I am a firm follower of refactoring and test-driven development.
  %p
    You will find me here:

  %ul
    %li
      %a{href: 'https://github.com/Nowaker'}
        GitHub
    %li
      %a{href: 'https://stackoverflow.com/users/504845/damian-nowak'}
        Stack Overflow

  %p
    And here's my open source contribution:

  %ul
    %li
      <a href="https://github.com/Nowaker/ruby-archipel-api">ruby-archipel-api</a>,
      Ruby client for Archipel (<a href="https://github.com/Nowaker/ruby-archipel-api/graphs/contributors">commits</a>)
    %li
      <a href="https://github.com/CodeCharmLtd/http-master">http-master</a>, a node.js based HTTP server
      (<a href="https://github.com/CodeCharmLtd/http-master/graphs/contributors">commits</a>)
    %li
      <a href="https://github.com/czartur/wklejorg">wklej.org</a>, a Polish no-paste webapp
      (<a href="https://github.com/czartur/wklejorg/graphs/contributors">commits</a>)
    %li
      <a href="http://archipelproject.org/">Archipel</a>, a precursor and an inspiration for VirtKick
      (<a href="https://github.com/ArchipelProject/Archipel/issues/created_by/Nowaker?page=1&amp;state=open">issues</a>)
    %li
      <a href="https://aur.archlinux.org/packages/?SeB=m&amp;K=Nowaker">Arch Linux User Repository</a>
      (AUR), my Arch Linux packages

  %p
    %a{href: 'mailto:nowaker@virtkick.io?subject=VirtKick+sponsoring'}
      Contact me
    if you want to know more.
