<div id="page-community" class="container">
  <h1>Community</h1>

  <ul>
    <li>
      IRC: #virtkick on Freenode
    </li>
    <li>
      Bugs: <a href="https://github.com/virtkick/virtkick-webapp/issues">GitHub</a>
    </li>
  </ul>

  <h1>Contributors</h1>
  <div class="row">
    <article class="col-md-4">
      <%= gravatar_for 'nowaker@pacmanvps.com' %>
      <header>Damian Nowak <a href="https://github.com/Nowaker">@Nowaker</a></header>
      <p>
        Nowaker is the creator and the mastermind of VirtKick.
        He is responsible for all coding - both the webapp and the internals.
      </p>
    </article>

    <article class="col-md-4">
      <%= gravatar_for 'kwiat@panic.pl' %>
      <header>Mateusz Kwiatkowski @kwiat</header>
      <p>
        Kwiat is a virtualization and storage expert.
        While he doesn't code, he helps me resolve tough problems with the technology.
      </p>
    </article>

    <article class="col-md-4">
      <%= gravatar_for 'm13@balloonstudio.pl' %>
      <header>Wojtek Jodel @m13</header>
      <p>
        Wojtek is a the UI designer. He makes sure the UI is usable, simple and beautiful.
      </p>
    </article>
  </div>

  <h1>Sponsors</h1>

  <div class="sponsors">

    <h2>Gold Sponsors</h2>
    <div class="row">
      <div class="gold-sponsor-box sponsor-box-div col-md-4 col-md-offset-2">
        <a href="/become-a-sponsor.html">Become<br/> a Gold Sponsor</a>
      </div>
      <div class="gold-sponsor-box sponsor-box-div col-md-4">
        <a href="/become-a-sponsor.html">Become<br/> a Gold Sponsor</a>
      </div>
    </div>

    <h2>Silver Sponsors</h2>
    <div class="row">
      <% (1..4).each do %>
        <div class="silver-sponsor-box sponsor-box-div col-md-3">
          <a href="/become-a-sponsor.html">Become<br/> a Silver Sponsor</a>
        </div>
      <% end %>
    </div>

    <h2>Bronze Sponsors</h2>
    <div class="row">
      <% (1..6).each do %>
        <div class="bronze-sponsor-box sponsor-box-div col-md-2">
          <a href="/become-a-sponsor.html">Become<br/> a Bronze Sponsor</a>
        </div>
      <% end %>
    </div>
  </div>

  <h1>Donors</h1>

  <p>
    These people made VirtKick happen and backed the project on Kickstarter. Thank you!
  </p>

  <ul>
    <li>John Doe</li>
    <li>
      <%= link_to 'Become a Donor', KICKSTARTER_URL %>
    </li>
  </ul>
</div>
