---
features:
- header: Packages
  image: linux-packages
  text: 'Packages for most popular distros: Ubuntu, Debian, CentOS, Arch Linux.'
- header: Docker Images
  image: docker-images
  text: Setup VirtKick panel in a container. Connect a remote hypervisor.
- header: Appliances
  image: appliances
  text: Appliances for KVM and VirtualBox. Connect a remote hypervisor.
integrations:
- header: DNS
  image: amazon
  text: Manage DNS records<br/>directly in VirtKick.
- header: Storage
  image: storage
  text: Reliably store your data with<br/>LVM, ZFS, Ceph® or GlusterFS®.
- header: Provisioning
  image: chef
  text: Choose roles and bake your VM<br/>with Ansible, Rex or Chef.
---
#page-devops
  = partial 'layouts/_jumbotron'
  .content-container.container
    = partial 'layouts/_jumbotron-mobile'
    = partial 'layouts/_crowdfunding'

    .slogan#features
      h2 Choose your way and <span class="focus">kickstart</span> your cloud.
      h3

    .features.row.col-md-12
      - current_page.data.features.each do |feature|
        article.col-md-4
          .logo-container
            .logo
              = tag :img, src: "/img/devops/#{feature.image}.png"
          h3 = feature.header
          p = feature.text

    .slogan.clear#integrations
      h2 Simple <span class="focus">doesn't</span> mean simplistic.
      h3

    .integrations.col-md-12
      - current_page.data.integrations.each do |feature|
        article.col-md-4
          = tag :img, src: "/img/integration/#{feature.image}.png"
          h3
            = feature.header
            - if feature.r
              | <sup>®</sup>
            - elsif feature.tm
              | ™
          p = feature.text


  = partial 'layouts/silver-sponsors'
