---
features:
- header: '1-Click <span class="focus">Install</span>'
  image: 1-click-install
  text: We provide decent default settings in our packages and appliances.
    Get started in five minutes - don't worry about the details at the beginning!
- header: 'User <span class="focus">Centric</span>'
  image: user-centric
  text: Meet a user-centric interface that lets you achieve most common tasks blazingly fast.
    Create and use your virtual machine with 5 clicks in 45 seconds.
- header: 'E-commerce <span class="focus">Enabled</span>'
  image: e-commerce
  text: Orders, payments, invoices and helpdesk - it's all here.
    Kickstart your VPS hosting business without building everything from scratch.
integrations:
- header: Linux
  image: linux
  text: Virtualize your bare metal servers<br/>with Qemu-KVM or Xen.
  r: http://www.linuxfoundation.org/programs/legal/trademark/attribution
- header: Amazon
  image: amazon
  text: Use Amazon Web Services as an alternative<br/>to deploy your machines.
  r: https://aws.amazon.com/trademark-guidelines/
- header: VMware
  image: vmware
  text: Import and convert your existing<br/>VMware machines and data.
  r: http://www.vmware.com/help/legal.html
- header: Chef
  image: chef
  text: Choose roles to apply and<br/>have your new VM baked by Chef.
  tm: http://www.getchef.com/trademark-policy/
- header: Docker
  image: docker
  text: Browse the repo and create<br/>containers just like usual machines.
  r: https://www.dotcloud.com/trademark.html
- header: Storage
  image: storage
  text: Reliably store your data with<br/>LVM, ZFS, Ceph® or GlusterFS®.
live: false
video: false
---
#page-index
  .header
    .moon.row
    .row
      .content.col-md-8.col-md-offset-2
        h1 Cloud made easy.
        h2 Manage virtual machines or Docker containers.
        h3 100% open source.
        - if url = current_page.data.video
          p.video
          - content_tag :a, href: "https://www.youtube.com/watch?v=#{url}" do
            | Watch a minute long video.
        .newsletter
          form.form-inline action="https://virtkick.us8.list-manage.com/subscribe/post?u=b74a227fdbddc9f590a62114e&amp;id=08823d8a7b" method="post" role="form"
            p.result data-success='Thank you! Please check your e-mail to confirm.'
              | Sign up for updates. Be notified of the closed beta!
            .form-group
              input#newsletter-email.form-control.input name="EMAIL" placeholder=("E-MAIL ADDRESS") type="text"
            input.btn.btn-primary.btn-lg name="subscribe" type="submit" value="SUBSCRIBE"

  .content-container.container
    .sponsors.row.visible-xs.visible-sm
      .title.col-md-12
        h3
          | Gold
          span.focus Sponsors
      - (1..2).each do
        .sponsor.col-md-12
          .controls
            i.fa.fa-circle
            i.fa.fa-circle
            i.fa.fa-circle
          .content
            a href="/become-a-sponsor.html"
              | Become<br/> a Gold Sponsor

    .slogan#features
      h2 Kickstart your <span class="focus">cloud!</span>
      h3 Use on bare metal servers or Amazon.

    .features.row.col-md-12
      - current_page.data.features.each do |feature|
        article.col-md-4
          .logo-container
            .logo
              = tag :img, src: "/img/features/#{feature.image}.png"
          h3 = feature.header
          p = feature.text

    .slogan.clear#integrations
      h2 Integrate with existing solutions and <span class="focus">technologies!</span>
      h3

    .integrations.col-md-12
      - current_page.data.integrations.each do |feature|
        article.col-md-4
          = tag :img, src: "/img/integration/#{feature.image}.png"
          h3
            = feature.header
            - if feature.r
              | <sup>®</sup>
            - elsif feature.tm
              | ™
          p = feature.text


  .sponsors-container
    .container
      .sponsors.row
        .title.col-md-12
          h3 Silver <span class="focus">Sponsors</span>
        - (1..4).each do
          .sponsor.col-md-3
            .controls
              i.fa.fa-circle
              i.fa.fa-circle
              i.fa.fa-circle
            .content
              a href="/become-a-sponsor.html"
                | Become<br/> a Silver Sponsor
