---
features:
- header: 1-Click Install
  text: We provide decent default settings in our packages and appliances.
    Get started in five minutes - don't care about the details at the beginning!
- header: Useful UI
  text: Meet a useful user interface that lets you achieve most common tasks blazingly fast.
    Create and use your virtual machine with 5 clicks in 45 seconds.
- header: E-commerce enabled
  text: Orders, payments, invoices and helpdesk - it's all here.
    Kickstart your VPS hosting business without building everything from scratch.
---
<div id="page-index">
  <div class="header row">
    <div class="col-md-8 col-md-push-2">
      <h1>1-Click Cloud Management Center</h1>
      <p>Cloud made easy for regular users. Kickstart your virtualization!</p>
    </div>
    <div class="gold-sponsor-box sponsor-box-div col-md-2 col-md-pull-8">
      <a href="/">Become<br/> a Gold Sponsor</a>
      <p>Gold Sponsor</p>
    </div>
    <div class="gold-sponsor-box sponsor-box-div col-md-2">
      <a href="/">Become<br/> a Gold Sponsor</a>
      <p>Gold Sponsor</p>
    </div>
  </div>

  <div class="container">
    <div class="features row">
      <div class="kickstarter-widget col-md-3">
        <% url = 'https://www.kickstarter.com/' %>
        <h3>Kickstarter campaign</h3>
        <p>
          We are raising funds on Kickstarter to make VirtKick happen.
        </p>
        <div class="row">
          <div class="amount col-xs-9">
            <div class="progress progress-striped">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                60%
              </div>
            </div>
          </div>
          <div class="goal col-xs-3">
            $37,000
          </div>
        </div>
        <p>
          <%= link_to 'Pledge now!', url, :class => 'btn btn-lg btn-block btn-primary' %>
        </p>
        <p>
          Multiple rewards include: early access to a testing deployment of VirtKick, Linux packages,
          VirtualBox image, Docker repo and more!
          <%= link_to 'Check now', url %>.
        </p>
      </div>
      <div class="row col-md-9">
        <% current_page.data.features.each do |feature| %>
          <article class="col-md-4">
            <h3><%= feature.header %></h3>
            <div>
              <%= feature.text %>
            </div>
          </article>
        <% end %>
      </div>
      <div class="newsletter row col-md-9">
        <h2>
          Let me know when VirtKick is available:
        </h2>
        <p>
          <input type="text" placeholder="e-mail address"/>
          <input type="submit" value="subscribe!"/>
        </p>
      </div>
    </div>

    <div class="silver-sponsors row">
      <div class="col-md-2"></div>
      <% (1..4).each do %>
        <div class="silver-sponsor-box sponsor-box-div col-md-2">
          <a href="/">Become<br/> a Silver Sponsor</a>
        </div>
      <% end %>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
