---
features:
- header: 1-Click Install
  text: We provide decent default settings in our packages and appliances.
    Get started in five minutes - don't care about the details at the beginning!
- header: Useful UI
  text: Meet a useful user interface that lets you achieve most common tasks blazingly fast.
    Create and use your virtual machine with 5 clicks in 45 seconds.
- header: E-commerce enabled
  text: Orders, payments, invoices and helpdesk - it's all here.
    Kickstart your VPS hosting business without building everything from scratch.
---
<div class="header">
  <h1>1-Click Cloud Management Center</h1>
  <p>Cloud made easy for regular users. Kickstart your virtualization!</p>
</div>

<div class="features">
  <% current_page.data.features.each do |feature| %>
    <article>
      <header><%= feature.header %></header>
      <div>
        <%= feature.text %>
      </div>
    </article>
  <% end %>
</div>

<div class="newsletter">
  <p>
    Let me know when VirtKick is ready:
  </p>
  <p>
    <input type="text" placeholder="e-mail address" />
    <input type="submit" value="subscribe!" />
  </p>
</div>
