#page-legal.container
  .row
    h1 Trademark attributions

    p VirtKick™ is a trademark of Damian Nowak.
    p Linux® is the registered trademark of Linus Torvalds in the U.S. and other countries.
    p Amazon Web Services is a trademark of Amazon.com, Inc. or its affiliates in the United States and/or other countries.
    p VMware is a registered trademark or trademark of VMware, Inc. in the United States and/or other jurisdictions.
    p The Chef™ Mark and Chef Logo are either registered trademarks/service marks or trademarks/ service marks of Chef,
      in the United States and other countries.
    p Docker and Docker logo are trademarks or registered trademarks of Docker, Inc. in the United States and/or other countries.
    p GlusterFS is a registered trademark of Gluster, Inc.
    p Ceph is a registered trademark of Inktank Storage, Inc.
